<h1>Paises</h1>
<hr>

<ul class="list-group" cdkDropList (cdkDropListDropped)="drop($event)">
    <li class="list-group-item" *ngFor="let pais of paises" cdkDrag>
        {{pais.name}}
    </li>
</ul>
